.grid {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.turn-highlight {

    color: white;
}
.reset {
    padding: 2rem;
    color: white;
    background-color: green;
    border-radius: 10px;
}

